%h1 Login

%p
  - form_for @user_session, :url => user_session_path do |f|
    %br 
      = f.error_messages
    %br 
      = f.label :email
    %br 
      = f.text_field :email
    %br 
      = f.label :password
    %br 
      = f.password_field :password
    %br 
      = f.check_box :remember_me
    %br 
      = f.label :remember_me
    %br 
      = f.submit "Login"
